@import "tailwindcss";

:root {
  --rose-50: #fff1f5;
  --rose-100: #ffd7e5;
  --rose-300: #ff8fbc;
  --rose-500: #e44f96;
  --rose-700: #b81e6c;

  --green-50: #ecfdf5;
  --green-100: #d1fae5;
  --green-300: #6ee7b7;
  --green-500: #34d399;
  --green-700: #059669;

  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-300: #d4d4d8;
  --gray-600: #4b5563;
  --gray-900: #18181b;
}